<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="5.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="Ninject" version="3.3.3" targetFramework="net45" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.3.1" targetFramework="net45" />
  <package id="Ninject.Extensions.Factory" version="3.3.2" targetFramework="net45" />
  <package id="Ninject.Extensions.NamedScope" version="3.3.0" targetFramework="net45" />
  <package id="Ninject.Web.Common" version="3.3.0" targetFramework="net45" />
  <package id="Ninject.Web.Common.SelfHost" version="3.3.0" targetFramework="net45" />
</packages>